<h3>Registered Events</h3>
<div class="row pl-2 pr-2">
  <div class="col-12  order-md-1 order-2">
      <div class="row">
  <% events.forEach((model) => { %>
  <div class="card col-md-4 col-12" style="max-height: 30em">
          <div class="card-body h-100">
          <img src="<%= model.img_url %>" class="card-img-top pb-2" style="max-height: 60%; min-height: 50%;">
          <a href="/event/view/<%= model.id %>" class="card-title"><%= model.name %></a>
          <br><br>
          <div class="card"><p class="card-text p-2"><b>Date: </b><%= model.date.getMonth() + 1 + '/' + model.date.getDate() + '/' + model.date.getFullYear() %></p></div>    
                        <div class="card"><p class="card-text p-2"><b>Time: </b><%= model.time %></p></div>  
                        <div class="card"><p class="card-text p-2"><b>Venue: </b><%= model.venue %></p></div>   
          </div>     
  </div>
  <% }); %>
</div>
</div>