<div class="row order-2 order-md-1">
        <% const current = parseInt(req.query.page) || 1; %>
    <nav class="pl-3" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="<%= pageLess %>page=<%= Math.max(current-1, 1) %>">Previous</a>
            </li>
    
            <% for (i = 1; i <= count; i++) { %>
                <li class="page-item">
                    <a class="page-link" href="<%= pageLess %>page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
    
            <li class="page-item">
                <a class="page-link" href="<%= pageLess %>page=<%= Math.min(current+1, count) %>">Next</a>
            </li>
        </ul>
    </nav>
    </div>
<div class="row pl-2 order-1 order-md-2">
    <div class="col-md-8 col-12 order-md-1 order-2">
        <div class="row">
    <% events.forEach((model) => { %>
    <div class="card col-md-6 col-12" style="max-height: 30em">
            <div class="card-body h-100">
            <img src="<%= model.img_url %>" class="card-img-top pb-2" style="max-height: 60%; min-height: 50%;">
            <a href="/event/view/<%= model.id %>" class="card-title"><%= model.name %></a>
            <p class="card-text pt-2" style="overflow: hidden;"><%= model.short_desc %></p>   
            </div>     
    </div>
    <% }); %>
</div>
</div>
<div class="col-md-4 col-12 order-md-2 order-1">
        <form action="/event/search" method="GET">
        
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" value="<%= req.query.name %>">
            </div>

            <div class="form-group">
                    <label>Organizer</label>
              <select class="form-control" name="organizer">
                    <option value="">Please select an option</option>
                    <% organizers.forEach(function(organizer){ %>
                        <option value="<%= organizer %>" 
                            <% if (organizer === req.query.organizer) { %>
                        selected="selected"
                        <% }; %>
                            ><%= organizer %></option>
                      <% }); %>
      </select>
                </div>

                <div class="form-group">
                        <label>Start Date</label>
                        <input type="text" class="form-control date" name="start_date" value="<%= req.query.start_date %>">
                    </div>

                    <div class="form-group">
                            <label>End Date</label>
                            <input type="text" class="form-control date" name="end_date" value="<%= req.query.end_date %>">
                        </div>

                        <div class="form-group">
                                <label>Venue</label>
                                <select class="form-control" name="venue">
                                        <option value="">Please select an option</option>
                                        <% venues.forEach(function(venue){ %>
                                            <option value="<%=venue %>" <% if (venue === req.query.venue) { %>
                                            selected="selected"
                                            <% }; %>
                                                ><%= venue %></option>
                                          <% }); %>
                          </select>
                            </div>

                            <button type="submit" class="btn btn-primary mb-2">Submit</button>

                            </form>


</div>
</div>