<div class="card p-4">
        <h3 class="card-title"><%= event.name %></h3>
        <div class="row">
                        <img src="<%= event.img_url %>" class="col-md-4 col-12" height="400vh">
                        <div class="col-12 col-md-8 pt-2">
                        <div class="card"><p class="card-text p-2"><%= event.full_desc %></p></div> 
                        <div class="card"><p class="card-text p-2"><b>Organizer: </b><%= event.organizer %></p></div> 
                        <div class="card"><p class="card-text p-2"><b>Date: </b><%= event.date.toString().match(/^\d\d\d\d-\d\d-\d\d/) %></p></div>    
                        <div class="card"><p class="card-text p-2"><b>Time: </b><%= event.time %></p></div>  
                        <div class="card"><p class="card-text p-2"><b>Venue: </b><%= event.venue %></p></div>  
                        <div class="card"><p class="card-text p-2"><b>Quota: </b><%= event.quota %></p></div>       
                </div>     
                    </div>
</div>