<table class="table">
        <tr><td><%= event.name %></td></tr>
        <tr><td><%= event.short_desc %></td></tr>
        <tr><td><%= event.full_desc %></td></tr>
        <tr><td><%= event.img_url %></td></tr>
        <tr><td><%= event.organizer %></td></tr>
        <tr><td><%= event.time %></td></tr>
        <tr><td><%= event.date %></td></tr>
        <tr><td><%= event.venue %></td></tr>
        <tr><td><%= event.quota %></td></tr>
        <tr><td><%= event.highlighted %></td></tr>
</table>
